 html{ 
    background:
    rgb(39, 80, 90);
}
*{
    font-family: 'Architects',sans-serif;
    margin: auto;
    letter-spacing: 2px;
}
.container-app{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;   
}
.container-quiz {
    display: flex;
    width: 60%;
    height: 85%;
    background-color: white;
    text-align: center;
    flex-flow: column;
    border: 1px solid #e7eae0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.start-game{

    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
   
}
.header-quiz {
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e7eae0;
    justify-content: center;
    align-items: center;
    background-color: #e7eae0;
    border-radius: 10px 10px 0px 0px;
}

.container-quiz .box {
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
    margin: auto;
}

.box-question {
    margin-top: 20px;
}

.box-question p {
    margin-top: 20px;
}
button:hover{
    background-color: #139b0e;
}
.box-propositions {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-button {
    display: flex;
    width: 100%;
}

button {
    height: 50px;
    outline: none;
    border: 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 10px;
    letter-spacing: 2px;
    background-color: #0099ff;
    
}
.quiz-btn {
    width: 750px;
    
}

.start-game-btn{
    width: 200px;
}


.column{
   width: 48%;
   float: left;
   text-align: left;
   font-size: x-small;
   padding-left: 1%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.box-score {
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
}

.box-score h2 {
    margin-top: 40px;
}

i {
    display: none;
    color: white;
}

