<template>
  <div class="box-propositions">
    <button class="quiz-btn"  v-html="possibleAnswer" @click="$emit('user-answer',possibleAnswer)"></button>
  </div>
</template>

<script>
export default {
  name: "ChoiceItem",
  props: ["possibleAnswer"],
};
</script>

