<template>
  <div>
    <div class="box-question">
      <p v-html="quiz.question" />
    </div>
    <br />
    <ChoiceItem
      v-for="(possibleAnswer, index) of possibleAnswers"
      :key="index"
      :possibleAnswer="possibleAnswer"
      v-on:user-answer="$emit('user-answer', possibleAnswer)"
    />
  </div>
</template>

<script>
import ChoiceItem from "./ChoiceItem.vue";
export default {
  name: "QuestionItem",
  components: {
    ChoiceItem,
  },
  props: ["quiz"],
  computed: {
    possibleAnswers: function () {
      return [...this.quiz.incorrect_answers, this.quiz.correct_answer]
        .map((a) => ({ sort: Math.random(), value: a }))
        .sort((a, b) => a.sort - b.sort)
        .map((a) => a.value);
    },
  },
};
</script>
