<template>
  <div>
    <div v-if="showResults">
      <Results
        v-bind:score="score"
        :quizes="quizes"
        :userAnswers="userAnswers"
      />
    </div>
    <div class="box-question" v-else>
      <h2>
        {{ currentQuiz + 1 }}
        /
        {{ quizes.length }}
      </h2>

      <QuestionItem
        v-bind:quiz="quizes[currentQuiz]"
        v-on:user-answer="userAnswer"
      />
    </div>
  </div>
</template>

<script>
import QuestionItem from "./QuestionItem.vue";
import Results from "./Results";

export default {
  name: "Quizes",
  data() {
    return {
      currentQuiz: 0,
      score: 0,
      showResults: false,
      userAnswers: [],
    };
  },

  components: {
    QuestionItem,
    Results,
  },
  props: ["quizes"],
  methods: {
    userAnswer(possibleAnswer) {
      this.$emit("user-answer", possibleAnswer);
      this.scoring(possibleAnswer);
      this.populateUsersAnswers(possibleAnswer);
      this.next();
    },
    next: function () {
      if (this.currentQuiz + 1 < this.quizes.length) {
        this.currentQuiz++;
      } else {
        this.showResults = true;
      }
    },
    scoring(possibleAnswer) {
      if (possibleAnswer === this.quizes[this.currentQuiz].correct_answer) {
        this.score += 10;
      }
    },

    populateUsersAnswers(possibleAnswer) {
      const userAnswerObj = {
        q: this.quizes[this.currentQuiz].question,
        a: possibleAnswer,
      };
      this.userAnswers.push(userAnswerObj);
    },
  },
};
</script>
