<template>
  <div class="row">
    <h3>You scored {{ score }} points!!</h3>
    <br/>
    <div class="column">
      <h4>Quiz Q&A</h4>
      <div v-bind:key="index" v-for="(quiz, index) in quizes">
        <p v-html="quiz.question" />
        <p v-html="'- ' + quiz.correct_answer" />
      </div>
    </div>
    <div class="column">
      <h4>User Answes</h4>
      <div v-bind:key="i + 10" v-for="(userAnswer, i) in userAnswers">
        <p v-html="userAnswer.q" />
        <p v-html="'- ' + userAnswer.a" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Results",
  props: ["score", "quizes", "userAnswers"],
};
</script>
