<template>
  <div class="container-app">
    <div v-if="isStarted == true" class="container-quiz">
      <div class="header-quiz"><h1>Trivia Game</h1></div>
      <Quizes
        v-if="quizes.length > 0"
        v-bind:quizes="quizes"
      />
    </div>
    <div class="start-game" v-else>
      <StartGame v-on:start-game="startGameClicked" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Quizes from "./components/Quizes";
import StartGame from "./components/StartGame";

export default {
  name: "App",

  components: {
    Quizes,
    StartGame,
  },
  data() {
    return {
      quizes: [],
      isStarted: false,
    };
  },
  created() {
    axios
      .get("https://opentdb.com/api.php?amount=10&category=11&type=multiple")
      .then((res) => {
        this.quizes = res.data.results;
      })
      .catch((err) => console.log(err));
  },
  methods: {
    startGameClicked(started) {
      if (started) this.isStarted = true;
    },
  },
};
</script>

